{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
{% endblock %}
{% block content %}

<div style="color:white; background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjFnYu2is_iAhUpxoUKHZz3CpcQjRx6BAgBEAU&url=https%3A%2F%2Fwww.jeffbullas.com%2Fsponsored%2F9-reasons-why-a-blog-is-important-career-life%2F&psig=AOvVaw3BZEZJCnUQYvrUTR0T1e6Q&ust=1559712044884833); background-size: cover; background-repeat: no-repeat;">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <div class="container" style="font-family: 'Indie Flower', cursive;" style="text-align: center;">
      <div class="row">
        <h4 class="text-left" ><a class="btn btn-success" href="/add/category">  Add a blog Category </a></h4>

          <div class='jumbotron' style='opacity:0.9;'>{{ macro.displayCategoryList(categories) }}</div>
          <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        </div>
    </div>

{% endblock %}